body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("tp2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

label {
  font-weight: bold;
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

select,
input[type="number"] {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
}
